<h1>Tim ket qua PT bac 2: ax<sup>2</sup>+ bx + c = 0 </h1>
<form class="w3-container" asp-action="Money" method="post" >
  <label class="w3-text-teal"><b>Nhap vao a: </b></label>
  <input class="w3-input w3-border w3-light-grey" name="Number1" placeholder="Nhap vao so a" type="number">

  <label class="w3-text-teal"><b>Nhap vao so b: </b></label>
  <input class="w3-input w3-border w3-light-grey" name="Number2" placeholder="Nhap vao so b" type="number">

  <label class="w3-text-teal"><b>Nhap vao so c: </b></label>
  <input class="w3-input w3-border w3-light-grey" name="Number3" placeholder="Nhap vao so c" type="number">


  <button class="w3-btn w3-blue-grey" type="submit">Giai</button>
</form>
<h1>Ket qua : @ViewBag.Ketqua </h1>